@import "../../scss/variables";
$image-list: (
                ("0", 0, 0)
                ("1", 0, 1)
                ("2", 0, 2)
                ("3", 0, 3)
                ("4", 0, 4)
                ("5", 0, 5)
                ("6", 1, 0)
                ("7", 1, 1)
                ("8", 1, 2)
                ("9", 1, 3)
                ("10", 1, 4)
                ("11", 1, 5)
);

@mixin image($row, $column) {
  background-position: -$column*($sprite-grid-width+$sprite-grid-width-space) (-$row*($sprite-grid-height+$sprite-grid-height-space));
}

[class*='#{$class-prefix}'] {
  display: inline-block;
  width: $sprite-grid-width;
  height: $sprite-grid-height;
  line-height: $sprite-grid-height;
  background-image: url(#{$sprite-image-url});
  background-repeat: no-repeat;
  z-index: 9;
  position: absolute;
  top: 20px;
  left: -60px;
}

@each $image in $image-list {
  $name: nth($image, 1);
  $row: nth($image, 2);
  $column: nth($image, 3);

  .#{$class-prefix}#{$name} {
    @include image($row, $column);
  }
}

.game-field{
  height: 150px;
}

.hangman{
  height: 150px;
}