@import "../../scss/variables";

.words {
  display: flex;
  justify-content: space-between;
  padding: 0 $field-padding;
}

.letter {
  line-height: 140px;
  display: inline-block;
  text-align: center;
  justify-content: center;
  font-size: 80px;
  height: $letter-height;
  width: $letter-width;
  border-radius: 15px;
  background-color: $letter-background-color;
  color: $field-background-color;
  z-index: 5;
  display: flex;
  align-items: center;
  &.not-active {
    background-color: rgb(230, 230, 230);
  }
}
