@import "../../scss/variables";

.missed-letters {
  margin-top: 40px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  line-height: 70px;
  color: $ribbon-color;
  font-size: 70px;
  background-color: transparent;
  letter-spacing: 0.4em;
}