@import "../../scss/variables";

.gameOver {
  background-color: rgba($app-background-color, .6);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $field-background-color;
  font-size: 90px;
  text-transform: uppercase;
  flex-direction: column;
}

.new-word{
  margin-top: 60px;
  font-size: 30px;
  font-weight: bold;
  height: 105px;
  width: 350px;
  border-radius: 60px ;
  border: 4px dashed $game-over-text-color;
  background-color: transparent;
  color: $game-over-text-color;
  text-transform: uppercase;
  outline: none;
  cursor:pointer;
}

.small-text{
  font-size: 14px;
  font-weight: bold;
  color: $game-over-text-color;

}
