@import "../../scss/variables";

.game-field {
  padding: 0px;
  overflow: hidden;
  height: $field-height;
  width: $field-width;
  background: $field-background-color;
}

.wrapper {
  overflow: hidden;
  display: contents;
  width: $field-width;
}

.ribbon {
  position: relative;
  height: $field-height;
  width: $field-width;
}

.ribbon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120vw;
  height: 100%;
  transform: translate(-40%, -40% ) rotate(-45deg) skew(-45deg);
  background: $ribbon-color;
  z-index: 2;
}

.cropped-field {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  z-index: 5;
  padding: $field-padding $field-padding 0 $field-padding;
}

.bottom-section {
  flex: 0 0 140px;
  padding-top: 20px;
  padding-bottom: $field-padding;
}

.hangman-image {
  flex: 0 0 300px;
  position: relative;
}

.right-section {
  text-align: left;
  text-transform: uppercase;
  flex: 0 0 770px;
  z-index: 5;
  font-size: 25px;
}

.bar-img {
  position: absolute;
  top: 0;
  left: -320px;
  z-index: -1;
}
