@font-face {
  font-family: 'aller';
  src: url('/fonts/AllerDisplay.ttf');
}

html,body,#root {
  height: 100%;
}
 body {
  margin: 0;
  font-family: 'aller',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(59, 65, 99);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
