
$scale:0.8;
//$scale:1;
$app-background-color: rgb(40,44,52);
$field-background-color: rgb(245,245,245);
$ribbon-color: rgb(77,105,250);
$letter-background-color: rgb(80, 82, 90);
$game-over-text-color: rgb(255,186,0);;

$field-height: 975px*$scale;
$field-width: 1620px*$scale;
$field-padding: 70px*$scale;

$class-prefix: "step-";
$sprite-image-url: "/flow9.png";
$sprite-grid-height: 487px;
$sprite-grid-height-space: 13px;
$sprite-grid-width: 287px;
$sprite-grid-width-space: 15px;

$letter-height: 140px*$scale;
$letter-width: 125px*$scale;